.spacing{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutbutton{
    width: 15%;
    padding: 1%;
    background-color: rgba(1, 43, 85, 1);
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: 250%;
    border-radius: 25px;
    border-width: 0;
}