.Edit {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountedittitle{
    margin: 0;
    padding: 0;
    color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size:clamp(4rem,6vw,8rem);
    padding-top:clamp(5rem,7vw,9rem);
    padding-bottom: 3%;
    text-align: center;
}

.inputtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.inputtitle label{
    line-height: 30px;  /* match input height */
    height: 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}



label{
    font-size: 250%;
}

input{
    height: 35px;
    line-height: 10px;
    font-size: 130%;
    width: 50%;
    color: rgba(1, 43, 85, 1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    border: 2px solid rgba(1,43,85,1);
    border-radius: 5px;
    padding-right: 0px;
    margin-right: 0px;
    margin: 0;
    margin-top: 7px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    width: clamp(12rem, 17vw, 20rem);
    padding: 1%;
    background-color: rgba(1, 43, 85, 1);
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: clamp(2rem, 3vw, 3.5rem);
    border-radius: 25px;
    border-width: 0;
    margin-top: 35px;
    margin-bottom: 10%;
}

h1{
    padding-bottom: 40px;
}