.edit {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.inputtitle label{
    line-height: 30px;  /* match input height */
    height: 30px;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

label{
    font-size: 250%;
}

input{
    margin-top: 7px;
    height: 20px;
    line-height: 10px;
}

button{
    width: 20%;
    padding: 1%;
    background-color: rgba(1, 43, 85, 1);
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: 250%;
    border-radius: 25px;
    border-width: 0;
    margin: 50px;
    margin-top: 120px;
}

h1{
    padding-bottom: 40px;
}