.spacing{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accounttitle{
    margin: 0;
    padding: 0;
    color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size:clamp(4rem,6vw,8rem);
    padding-top:clamp(5rem,7vw,9rem);
    padding-bottom: 1%;
    text-align: center;
}

.logoutbutton{
    width: clamp(12rem, 17vw, 20rem);
    padding: 1%;
    background-color: rgba(1, 43, 85, 1);
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: clamp(2rem, 3vw, 3.5rem);
    border-radius: 25px;
    border-width: 0;
    margin-top: 35px;
}

.subhead{
    margin: 0;
    padding: 0;
}

.info{
    margin: 0;
    padding: 0;
}

.bottomtext{
    margin: 0;
    padding: 0;
    font-size: 15px;
    padding-top: 5%;
    color: rgba(170,170,170,1);
}

.editbutton{
    margin: 0;
    margin-top: 30px;
    width: clamp(10rem, 13vw, 16rem);
    font-size:clamp(1.5rem,2.5vw,3rem);
}