.titlecontact {
   padding: 0;
   margin: 0;
   color:rgba(1,43,85,1);
   font-family: "itc-avant-garde-gothic-pro", sans-serif;
   font-size:clamp(2.5rem,6vw,8rem);
   padding-top:clamp(3rem,6vw,8rem);
   margin-bottom: 0px;
   padding-bottom: 0px;
}
 .formclass{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    gap: clamp(0.3rem,.5vw,1.5rem);
    font-size: clamp(1rem,2.5vw,3rem);
    padding: 0px;
    margin: 0px;
    padding-bottom: clamp(0.1rem, 0.9vw, 1rem);
 }

 .formclass label{
    line-height: 30px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: 2px solid rgba(1,43,85,1);
    border-radius: 5px;
 }

 .formclass input{
    height: clamp(1rem,1.5vw,2rem);
    padding: 0;
    margin: 0;
    border: 2px solid rgba(1,43,85,1);
    border-radius: 5px;
    text-indent: 4px;
    color:rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    margin-top: clamp(0rem,.3vw,.5rem);
    font-size: clamp(.7rem,1vw,1.3rem);
 }

 .namebox{
    width: 175px;
 }

 .emailbox{
    width: 200px;
 }

 .phonebox{
    width: 100px;
 }

 .inquirybox{
    width: 85px;
    color:rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: clamp(0.7rem,1.2vw,1.3rem);
    border: 2px solid rgba(1,43,85,1);
    border-radius: 5px;
    margin-top: clamp(0rem,.3vw,.5rem);
 }

 .messagebox{
    width: clamp(13rem,15vw,25rem);
    height: clamp(.7rem,2vw,2rem);
    resize: none;
    min-height: 25px;
    padding: 0;
    margin: 0;
    border: 2px solid rgba(1,43,85,1);
    border-radius: 5px;
    text-indent: 4px;
    color:rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    margin-top: clamp(0rem,.3vw,.5rem);
    padding-top: 1px;
 }

 p{
    margin: 0;
    padding: 0;
 }

 .subtext{
    margin: 0;
    padding: 0;
    padding-top: 0.5%;
    padding-bottom: 1%;
    font-size: 20px;
 }

.submitc{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

 .submitb{
    height: 70px;
    width: 200px;
    border: 2px solid rgba(1,43,85,1);
    font-size: 40px;
    color: white;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    background-color: rgba(1,43,85,1);
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
 }

 .columnforcenter{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   margin: 0px;
   padding-bottom: 100px;
 }

 .subtitlecontact{
   font-size:clamp(1rem,2vw,3rem);
   padding-left:clamp(2rem,5vw,5rem);
   padding-right:clamp(2rem,5vw,5rem);
   padding-bottom:clamp(1rem,2vw,2rem);
 }