.landing{
    gap: 40px;
    align-items: flex-start;
}

.webbie{
    width: 800px;
    height: auto;
    display: block;
}

.imagetextcontainer{
    position: relative;
}

.text-wrapper{
    position: relative;
}

.stack{
    display: grid;
}

.stack > *{
    grid-area: 1/1;
}

.landing-text{
    z-index: 1;
    
    position: absolute;
    text-align: right;
    top: 60px;
    right: 20px;
    
    letter-spacing: -10px;
    line-height: 310px;
    font-size: 250px;
    color: rgba(1,43,85,1);
    font-family: "lexia-variable", sans-serif;
    font-variation-settings: "wght" 500;
}

.landing-overlay{
    z-index: 2;

    color: white;
    position: absolute;
    text-align: right;
    top: 60px;
    right: 20px;
}