.landing {
    width: 100%;
    height: auto;
}

.stack {
    display: grid;
    grid-template-rows: auto;
}

.stack > img{
    grid-area: 1/1;
}

.stack > .text-layer{
    grid-area: 1/1;
    height: 100%;
}

.webbie {
    width: 67%;
    height: auto;
    display: block;
}

.text-layer {
    grid-area: 1/1;
    height: 684px; /* match the fixed text scroll height */
}

.landing-text {
    position: absolute;
    top: 60px;
    right: 20px;
    letter-spacing: -10px;
    line-height: 310px;
    font-size: 250px;
    font-family: "lexia-variable", sans-serif;
    font-variation-settings: "wght" 500;
    white-space: nowrap;
}

.landing-text.dark {
    z-index: 1;
    color: rgba(1, 43, 85, 1);
    text-align: right;
}

.landing-text.light {
    z-index: 2;
    color: white;
    text-align: right;
}