.navbar{
    display: flex;
    background: rgba(255, 255, 255, 1);
    font-size: clamp(1rem, 2vw, 3rem);
    color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    width: 100%; 
    position: fixed;
    z-index: 10;
    box-shadow: 0 -8px 18px rgba(1,43,85,1);
    padding: 0 20px;
    top: 0;
    box-sizing: border-box;  
    height: 5%;   
}

.navbar a{
    color: rgba(1,43,85,1);
    text-decoration: none;
}

.navbar a:hover{
    opacity: 0.75;
}

.navbar > div{
    width: 20%;
}

.texts{
    text-align: center;
}

.dropdown-parent {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    flex-direction: column;
    z-index: 100;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(1,43,85,0.2);
    
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    border-bottom: 1px solid rgba(1,43,85,.3);
}

.dropdown a:last-child{
    border-bottom: none;
}

.dropdown-parent:hover .dropdown {
    display: flex;
}

.box {
    padding-top: 44px;
}