.navbar{
    display: flex;
    background: rgba(255, 255, 255, 1);
    font-size: 35px;
    color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    width: 100%; 
    position: fixed;
    z-index: 10;
    box-shadow: 0 -8px 18px rgba(1,43,85,1);
    padding: 0 20px;
    top: 0;
    box-sizing: border-box;    
}

.navbar a{
    color: rgba(1,43,85,1);
    text-decoration: none;
}

.navbar a:hover{
    opacity: 0.75;
}

.navbar > div{
    width: 20%;
}

.texts{
    text-align: center;
}