.projimages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding: 0.25%;
    padding-top: clamp(2.5rem, 3vw, 5rem);
    column-gap: 0.5%;
    row-gap: .15%;
    padding-bottom: .5%;
}

.projcontainer{
    position: relative;
    overflow: hidden;
}

.images{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.textbox{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    width: auto;
}

.imagetext{
    background-color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    color: white;
    font-size: clamp(.5rem, 2.25vw, 2.75rem);
    padding: 1% 3%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    white-space: normal; 
    text-align: center;
    overflow-wrap: break-word;
    max-width: 90%;
}

.projcontainer:hover .images{
    opacity: 0.5;
}

.projcontainer .textbox{
    padding-top: 40%;
    opacity: 1;
}
