.textdiv p{
    margin: 0px;
    line-height: 1.2;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    margin: 0;
    padding: 0;
    color: rgba(1,43,85,1);
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size:clamp(4rem,6vw,8rem);
    padding-top:clamp(5rem,7vw,9rem);
    padding-bottom: 1%;
    text-align: center;
}